<nav class="navbar">
  <div class="logo">Papelería "Mis Tareas"</div>
  <ul class="nav-links">
    <li><a href="/">Inicio</a></li>
    <li><a href="/servicios">Servicios</a></li>
    <li><a href="/contacto">Contacto</a></li>
  </ul>
</nav>
